<!DOCTYPE html>
<html>
  <head>
    <title>Allpurpose</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Noto+Serif:400" rel="stylesheet" type="text/css"> 
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
